# Force users to have the required version of node installed on their machine.
engine-strict=true
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=JA+cy73hkAn5gTXVNsQQ7AVv3HztT1Q5edfxeVgHJpnnq34hIZ9mi+oZIJLiG0mL